<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>讨厌这个世界，你们都是为了我的外表</string>
	<string>第一次玩这个软件，不太上，有事直接加我qq吧</string>
	<string>太气人了</string>
	<string>你昵称有什么意思么？</string>
	<string>看我的眼神忧伤不忧伤</string>
	<string>我现在很悲伤不想说话</string>
	<string>人生若只如初见</string>
	<string>尴尬</string>
	<string>你在干嘛 </string>
	<string>你的性格是什么？能说说么？</string>
	<string>你喜欢听音乐还是读书？</string>
	<string>寻找有缘人……可以从朋友做起 </string>
	<string>hi，给你打了声招呼，看到了么？</string>
	<string>欣赏你！你看上去很靠谱 </string>
	<string>冒昧问声，你好 </string>
	<string>你好🐷🐷，认识下吧</string>
	<string>认识一下吧，我不差钱，只是单纯聊聊</string>
	<string>鼓起很大勇气才给你发消息。。。。求被鸟</string>
	<string>我在上海哦~感觉你很不错，你是哪里的</string>
	<string>未婚妹子。收入不高，想找个肩膀依靠 </string>
	<string>我想找的是结婚对象哦。。。非诚勿扰</string>
	<string>看下我照片，如果合适就联系下我吧</string>
	<string>Hi~ o(*￣▽￣*)ブ，你好</string>
	<string>你好，不知道能认识下嘛</string>
	<string>哈罗，可以聊聊么</string>
	<string>我是工作狂……为了工作忽视了很多东西，所以现在很寂寞</string>
	<string>嘻嘻，在吗</string>
	<string>hello，认识一下吧</string>
	<string>看了你资料，感觉还不错呢</string>
	<string>你好，我对你第一印象还不错哦，有空认识一下吗？</string>
	<string>嗯哼～ </string>
	<string>你好，能否认识了解一下</string>
	<string>你照片怎么没有</string>
	<string>嘻嘻 </string>
	<string>最近好烦。。</string>
	<string>╮(╯_╰)╭ </string>
	<string>(*^__^*)  </string>
	<string>伱好像是我喜欢的类型哇 </string>
	<string>天了噜~好无聊 </string>
	<string>啧啧。。。 </string>
	<string>你要帮我脱单啊 </string>
	<string>我、有。老公，你害怕了没呀 </string>
	<string>傻眼 </string>
	<string>加微信聊咯 </string>
	<string>我男朋友在边上。迟点聊。。 </string>
	<string>汪汪汪 </string>
	<string>有意思哦 </string>
	<string>装傻ing </string>
	<string>我要结婚了。。你信么？结婚倒计时9天……但是突然不想嫁人</string>
	<string>直接一点直接一点</string>
	<string>在别人看来的我很无知，平时见人都没自信，只有在这些app上敢了</string>
	<string>天哪。。。竟然还在 </string>
	<string>喜不喜欢，合不合适，直接说呗</string>
	<string>看皂片说话，不传照片不回复了哦~</string>
	<string>身材控～～～有身材照片上传看看么</string>
	<string>姨妈中……悲惨。。。</string>
	<string>窝说话比较直接的欧～伤害你要不要我负责的哇，小怕怕</string>
	<string>困困嗒。。说两个笑话先呗</string>
	<string>嘿嘿</string>
	<string>你好哇</string>
	<string>bi bibs</string>
	<string>(づ｡◕‿‿◕｡)づ</string>
	<string>敢不敢加微信私聊……只要你不是微商就好！</string>
	<string>喜欢我才加我？</string>
	<string>最近好不开心哦</string>
	<string>最近能单纯交朋友的人好少哦</string>
	<string>嘻嘻嘻</string>
	<string>boom</string>
	<string>我已经有喜欢的人了，所以真心不可能，只有身体的话看颜值</string>
	<string>。。。。。。</string>
	<string>轻易得到我是不是会让你不重视我呀。。。害怕状</string>
	<string>其实我照片p过的哦。。。见面你会不会报警呀，怕怕……</string>
	<string>只能文。。love。。(*^__^*) 嘻嘻…</string>
	<string>加我微信让我视频看看你，怕你拿别人照片骗我</string>
	<string>伱要比我主动才可以哦。</string>
	<string>假正经~</string>
	<string>讨厌啦</string>
	<string>大~坏~蛋</string>
	<string>小弟弟，要叫我姐姐哦</string>
	<string>哈</string>
	<string>你信不信我就算主动了我们也不会有故事</string>
	<string>你也是寂寞的人吧</string>
	<string>我慢熟、、、、你是不是不会搭理我了</string>
	<string>?????????</string>
	<string>直接甩扣聊不来删聊的来处</string>
	<string>你不是vip吗？不能直接说话？</string>
	<string>好吧</string>
	<string>没想到你是这样的人</string>
	<string>我只想说，我这么美，你要的起么</string>
	<string>你有给我照片留言么？</string>
	<string>十八岁以下不要来昂，不喜欢未成年！</string>
	<string>本人走身不走心，到时候别太作，ok？</string>
	<string>hi～</string>
	<string>呼呼</string>
	<string>好冷啊</string>
</array>
</plist>
